---
http_interactions:
- request:
    method: post
    uri: https://api.stagingeb.com/v1/contact_requests
    body:
      encoding: UTF-8
      string: '{"property_id":"EB-C0156","name":"Alexis","phone":"9865321478","email":"alexis@mail.com","message":"I''m
        interested contact me","source":"mydomain.com"}'
    headers:
      X-Authorization:
      - l7u502p8v46ba3ppgvj5y2aad50lb9
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7fc3f09bcad46fb34713ee8ba90cb3ad"
    body:
      encoding: UTF-8
      string: '{"status":"successful"}'
  recorded_at: Sat, 20 Aug 2022 22:56:18 GMT
recorded_with: VCR 6.1.0
