<div class="main-container">
  <h1>Properties</h1>

  <%= render "pagination", pages_number: @pages_number, page: @page %>

  <div class="section-properties">
    <% @properties.each do |property| %>
      <%= render "property", property: property, page: @page %>
    <% end %>
  </div>

  <%= render "pagination", pages_number: @pages_number, page: @page %>
</div>